body {
    font-size: 14px!important;
   
}

#page-wrapper {
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    margin: auto;
}

#main-content {
    background-color: rgb(249, 249, 250);
}

/* Style the header */

header {
    display: flex;
}

#header-content {
    max-width: 1600px;
    margin: auto;
    display: flex;
    width: 100%;
}


/* Container for flexboxes */

#content-wrapper  {
    display: flex;
    margin: 0 auto;
    height: 100%;
    flex-grow: 1;
    width: 100%;
    flex-direction: row;
}

#menu-container {
    height: 100%;
}

#main-content {
    display: flex;
    flex-direction: column;
}

main {
    overflow-x: auto;
    flex: 1;
}

.form-group[required="required"] > label:after {
    color: getVar(--errorColor);
    content: "*";
    margin-left: 3px;
}

a,
a:visited {
    color: getVar(--linkColor);
}

a:hover,
a:focus,
a:active {
    color: getVar(--linkHighlightColor);
}

@media (max-width: 768px) {
    #menu-container {
        height: auto;
    }
    section#content-wrapper {
        flex-direction: column;
    }
    #content-wrapper>nav {
        position: absolute;
        width: 100%;
        z-index: 888;
    }
}

.page-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table thead th {
    vertical-align: middle;
}

.dropdown {
    .btn.btn-lg {
        height: inherit;
        font-size: 20px;
        font-weight: normal;
        top: -2px;
    }
}

.app-header-btn.btn.btn-lg {
    height: inherit;
    font-size: 20px;
    font-weight: normal;
}

.btn.btn-link {
    color: #505050;
}

.btn.btn-link:hover,
.btn.btn-link:focus {
    color: black;
    text-decoration: none;
}

.btn.btn-link:hover {
    border: 1px solid black;
}

/*************************************
* CARDS
*************************************/
.card .card-body .static-field {
    margin-bottom: 0.8em;
    font-size: 1.1em;
}

.card .card-body .static-field .static-field-key {
    display: inline-flex;
    min-width: 100px;
    font-weight: bold;
}

.card .card-body .static-field .static-field-text {
    text-align: justify;
    line-height: 1.7em;
}

.card .card-body .static-field .static-field-list {
    list-style-type: none;
    padding-left: 100px;
}

.card .card-header h3 i.ik {
    font-size: 1.5em;
    margin-right: 0.5em;
    vertical-align: bottom;
}

.card .card-header .badge {
    margin-top: 6px;
    font-size: 1.1em;
    margin-right: 1em;
}

.card .card-header .card-header-right .btn {
    margin-top: 6px;
}

.card .card-block .dashboard-item a {
    display: inline-block;
    height: 40px;
    width: 100%;
    font-size: 15px;
}

.card .card-block .dashboard-item-label {
    line-height: 40px;
    display: inline-block;
}

.card .card-block .dashboard-item-icon {
    float: right;
    margin-top: 8px;
    height: 24px;
    width: 24px;
    text-align: center;
}

.card .card-block .dashboard-item:hover {
    background: #f3f3f3;
    border-radius: 10px;
}

/*************************************
* LINKS
*************************************/

.main-content .table a.row-link, .card .card-body .static-field a:not(.inline-action-btn) {
    color: #3C76F4;
}

.main-content .table a.row-link:hover, .card .card-body .static-field a:hover:not(.inline-action-btn) {
    text-decoration: underline;
    color: inherit;
}

.card .card-header .card-options a.view-nav {
    width: inherit;
    color: #3C76F4;
    font-size: 1.1em;
}

.card .card-header .card-options a.view-nav:hover {
    color: inherit;
    text-decoration: underline;
}

.card .card-header .card-options a.btn {
    border-radius: 0.25rem;
}

.card .card-header .card-options a.btn-outline-primary {
    color: #007bff;
}

.card .card-header .card-options a.btn-outline-primary:hover {
    color: #fff;
}

.data-filter .filter-action .ik {
    margin-right: 0;
    font-size: 14px;
}

.data-filter .filter-action {
    padding-top: 8px;
}
